/* Testo allineato a destra e responsivo */
.text-right-responsive {
    font-size: 0.9rem;
    text-align:justify;
    margin: 5rem 4rem;
}

/* Regola per schermi più piccoli (tablet e smartphone) */
@media (max-width: 768px) {
    .text-right-responsive {
        font-size: 0.9rem;
        text-align: left;
    }
}

/* Regola per schermi molto piccoli (smartphone verticali) */
@media (max-width: 576px) {
    .text-right-responsive {
        text-align: left;
        font-size: 0.9rem;
    }
}